$font-family: 'Helvetica Neue', sans-serif !default;
$font-size-base: 87.5% !default; // approx 14 px

$text-color-base: rgb(60, 60, 60) !default;
$link-color-base: rgb(38, 110, 149) !default;
$link-color-hover: darken($link-color-base, 5%) !default;

$line-height-base: 1.428571429 !default; // 20/14
