// Options for different looks
$use-beautiful-select: false !default;

// Core Variables
$body-color-base: rgb(250, 250, 250);
$transition-time-base: 0.25s !default;

@import 'variables/layout';
@import 'variables/typography';
@import 'variables/forms';
